h2 {
    margin-left: 30%;
}
.triangle{
    margin-left: 50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #79849B;
}
.subtitle{
    margin-left: 1%
}
.container{
    margin-left: 0%
}